{% extends 'core.html' %}
{% block content %}
<h1>The Final Straw</h1>
<h2>Background - The Pack</h2>
<p>It’s worth bearing in mind, whilst reading this story, that not all of the communication indicated is verbal.
    Although I have tried to draw attention to non-verbal communication from time to time, humans interpret these in
    different ways to wolves and it feels unnatural to force these forms of communication into the prose.</p>
<dl>
    <dt>Serra:</dt>
    <dd>Indian she-wolf that was forced to move when her home government declared her a terrorist. Vehicle rigger.
        Officially inside the pack, but doesn’t have as close a connection as the others.</dd>
    <dt>Accalia and Dwam:</dt>
    <dd>German-born female and male alphas respectively. Neither are combat-oriented. Accalia doesn’t engage in the
        shadowrunning side of things, preferring instead to stay behind and look after those who need it. Dwam leads the
        pack in shadowrunning activities and social interactions, heading up one of the two teams, whilst Accalia tends
        to handle logistics and care. Mated to one another.</dd>
    <dt>Chinua and Larentia:</dt>
    <dd>Twin Italian she-wolves that wandered Europe for a few years after fleeing their home. Both deckers, unmated.</dd>
    <dt>Fenris:</dt>
    <dd>Swedish he-wolf that escaped to Berlin after a run gone wrong. Has anger issues, and makes good use of these in
        combat situations. Mated to Ula.</dd>
    <dt>Ula:</dt>
    <dd>French she-wolf who moved to Berlin after she lost control of a spirit who proceeded to burn down her home
        neighbourhood. Shaman, beta, third in command after Dwam and Accalia. Mated to Fenris.</dd>
    <dt>Sindari:</dt>
    <dd>Chinese she-wolf that was captured by MCT for cyber-experimentation and rescued by the pack a few years back.
        Feral and quite insane. Unmated, and likely unable to consent anyway.</dd>
    <dt>Honi:</dt>
    <dd>Native American she-wolf who moved to Europe after pissing off large amounts of her tribe due to her insistence
        on using technology and her aggressive and slightly feral nature. Drone rigger, mated to Roukan.</dd>
    <dt>Roukan:</dt>
    <dd>Japanese he-wolf, ex-corporate. Fled Japan when his shifter nature was discovered. Wandered North America for a
        while before meeting Honi online and following her to Berlin. Has an eye for detail and a spirit dog named Shi.
        Mated to Honi.</dd>
    <dt>Chantelou:</dt>
    <dd>French she-wolf, ex-military. Moved to Berlin after her squadron was disbanded following French attacks on
        corporate holdings in the SOX. Shaman, beta, unmated.</dd>
    <dt>Gunnolf:</dt>
    <dd>German he-wolf who grew up with Dwam. One of the earliest members of the pack aside from Dwam and Accalia.
        Sniper, unmated.</dd>
</dl>

<h2>The Final Straw</h2>
<p>I carefully park my motorbike, chaining it to a nearby tree, before entering the relative peace of the forest. Here,
    in central Berlin, is probably the last place people would expect to find a wolf pack. That’s why we thrive. I
    carefully remove my equipment and clothes, stashing them in a tree hollowed out specifically for this purpose. Each
    of us have a few hiding spots like this. Once I am free of the restrictive clothing I transform, taking on my real,
    lupine, form.</p>
<p>The colours around me dull, but I can suddenly smell and hear things that I couldn’t in my human body. The soft
    rustle of the leaves as the wind flows over them, the earthy, homely smell of our forest fill my senses. That mark
    on the tree over there is no longer obviously sap or blood by sight but… Sniffing and noticing the lack of a
    metallic tang in the air, it is quite obviously sap.</p>
<p>The whole situation weighs heavily on my mind. I remember the first time I worked with Liz. Things had been so much
    better then...</p>
<p class="center">...oooOOOooo...</p>
<p>I’m gliding slowly over an arcology. Drones are strange devices - they have no sense of smell and rely far too
    heavily on visuals. Still, this one has directional hearing, like my real body. Kutta, my helicopter, is nearby,
    drowning out my own engines, and I can just about catch a glimpse of myself as I peer inside his cockpit. The wolf
    apparently sleeping on a seat is just barely visible from out here.</p>
<p>“Ready.” I hear Liz’s voice over my comms as she flies away from my drone body, having finished her preparations.
    I’m now invisible, protected from magic, and I can call on her to provide any additional manoeuvrability if I need
    to. I hope I won’t need to.</p>
<p>That’s another thing about drones - they don’t have tails. Well, this one sorta does. I wag it slightly, the movement
    causing my body to yaw from left to right. Note to self: rudders are not tails.</p>
<p>I start to climb, turning off my engines partway through. It isn’t long before I reach stall speed, but I was
    expecting that. It just makes the ride sweeter. I dive.</p>
<p>For a few brief seconds I am not a wolf remotely controlling a flying drone. I am a bird, soaring out of reach. Then
    reality kicks back in as radiation starts to corrupt the data stream from the drone. Well, at least we expected the
    damaged reactor to affect us. It wasn't a surprise. Visuals are messed up, my accelerometer occasionally shows
    strange readings, my compass is all over the place. Tch, damn reality. Always getting in the way of my fun.</p>
<p>It gets worse the closer I get to the reactor core, so I cut the dive and climb away a little, increasing my throttle
    as I do so. I can see more clearly from here. After a few seconds, I spot my target.</p>
<p>“Sighted. A human and a badger. I’ll get both, just in case." I’m communicating entirely through text - it’s just
    easier when I’m jumped in. Liz will probably be slower to react, but we both know this.</p>
<p>I hear no reply as I line up my attack run, deliberately facing the wrong direction. When I’m ready, I pull up and
    stall again. This time I use my rudder properly, turning myself on the spot as I slow - a perfectly executed
    Immelmann turn. I dive once more.</p>
<p>Fixed-mount turrets make a lot of sense for a plane-like drone, such as the one I’m currently piloting. They make
    things a little harder though. Still, I am pointed precisely at my target, and I fire off a burst of rounds - the
    badger dies without even knowing what hit it, and the human fares little better. I pull up to deliver my coup de
    grâce; my cargo bay opens and a frag grenade lands a mere 8m from him. He explodes seconds later. I search through
    my collection of air force quotes, and deliver a “Target down!” to Liz. That was too easy.</p>
<p>Although slightly damaged from the stress of pulling up at such a high speed and a small amount of shrapnel, I survey
    the area to provide a detailed report for our Johnson before returning to Kutta. When I approach the helicopter Liz
    slows me down, far faster than I could ever do so by myself, and lands me quite comfortably inside.</p>
<p>I disconnect from the drone, and open my eyes.</p>
<p class="center">...oooOOOooo...</p>
<p>Things were different back then. Things were good.</p>
<p>I growl the passphrase as I walk deeper into the forest. The scent of vegetation fills my nostrils. I can faintly
    smell magic in the background. This forest is differently scented to most, of course, even ignoring the smell of the
    pack there is a distinct absence of prey. They moved out pretty quickly when we arrived. Those that stayed got what
    they deserved for staying around twelve adult wolves.</p>
<p>Small sticks crunch softly beneath my paws as I pad forwards. Other than the wind and my footsteps there is almost no
    sound.</p>
<p>For once though, this is not a happy return to my family. I can feel a pit in my stomach as I walk, it getting harder
    with every step I take. I’m going to have to give them an ultimatum. I can’t force them to move, of course, but I
    have enough authority to ensure a vote. Maybe enough will trust me to follow.</p>
<p>Then again, maybe not. Then I’d have to leave on my own. I’m not sure I would be able to cope with that. I push back
    the thought and keep moving.</p>
<p>Pretty soon the scent of my family is strong enough to distinguish individuals. Ula is strongest right now - she must
    be on scouting duty. Most likely one of her watcher spirits spotted me the moment I entered the forest. This is why
    Ula and Chantelou tend to do the scouting most often, despite it being a menial chore not normally given to betas.
    Simply put, they are the best equipped to do it. One of the many ways in which my pack is unorthodox.</p>
<p>Still, Ula was nearby. That was good. She would help me get my thoughts in order. Help to soothe my frazzled mind.</p>
<p class="center">...oooOOOooo...</p>
<p>“Good holiday, mon amie?” The voice comes from my left, as expected.<br>
    “Hah. With Liz around, what do you expect?”<br>
    “I can imagine.” We walk together for a bit, neither looking at the other but nevertheless comfortably aware of one
    another.<br>
    “Ula,” I begin. I pause for a moment to gather my thoughts. “I need your help.”</p>
<p>She stops to nibble on my fur, purring softly. This is just one of many reasons that all French people are insane.
    <em>Wolves aren’t meant to purr!</em><br>
    “What do you need, cherie?”<br>
    “You see… Liz has gone too far this time. She’s endangered all of us. I thought I could keep her in check, but...
    I’ve failed.” Ula sits, encouraging me to do the same.<br>
    “Talk to me.”<br>
    “You remember her dumb plan to flee the Earth?”<br>
    “Abandoning everyone here and her place of birth, yes…” Ula growls softly at the thought. None of us are happy with
    the idea of abandoning the planet, no matter how dire the circumstances.<br>
    “She decided to find this guy, Miyazagi, who’s apparently some great spaceship engineer. Only problem, he was
    infected with some weird disease that allows an AI to take over a metahuman body. The AI in question… Was Deus.
    He escaped, and may have infected others.”<br>
    “I see.” Ula being a shaman, I’m initially uncertain of whether she understands the potential consequences. However,
    true to form, worry immediately crosses her face. Being a beta, she keeps up with world events, and apparently she
    has heard of Deus before.</p>
<p>“I’m sorry, I tried to keep her from doing anything stupid, but I didn’t know until it was too late… I think we might
    need to act.”<br>
    “What do you propose we do? We can hardly contain this Deus by ourselves.”<br>
    “You’re right, but we know someone practically on our doorstop who can. I’m proposing that we move to Essen.”</p>
<p>Ula doesn’t react at first. She merely sits, thinking. It’s only now that I notice that she dropped the French a
    while back - something she only does when her normal, playful attitude isn’t appropriate. Her ears twitch slightly.</p>
<p>I consider Liz again, whilst Ula thinks. That last visit, the first time she saw my home, is one I'd like to forget.</p>
<p class="center">...oooOOOooo...</p>
<p>The world is spinning. My pack seem to be… Running around me? I can definitely smell Gunnolf and Fenrir moving
    around me, but they’re not running. They seem to be sitting.</p>
<p>“Guys, stop doing that…”<br>
    “Serra, you’re drunk.”<br>
    “Whaaa? Shaddup Fenriiii, I’m not-” Wait. Maybe I <em>am</em> drunk. I don’t normally talk like that.<br>
    “How comesh I’m drunk?”<br>
    Gunnolf sighs. “Don’t you remember? You drank a whole bottle of rum in two hours.” He looks over to Fenrir. “Do we
    have to look after her?”<br>
    “Would you really leave a packmate behind?”<br>
    Gunnolf mutters under his breath. “Barely a packmate.” But I hear him.<br>
    “Heyyyy! I heard that! Don’t be meeaaaan, I know you luff me really!”</p>
<p>I often gave him a hard time, but now that I think about it, Gunnolf is actually pretty hot. I start to lick his ear
    playfully, but he pushes me away. I do my best puppy eyes.</p>
<p>“Serra, I’m not gonna fuck you when you’re <em>sober</em>. Don’t come onto me when you’re drunk.” Clearly the puppy
    eyes weren’t working. Time for a new tack. He likes humans, right? Maybe I could shift back to my human form and…</p>
<p>Before I get the chance to finish my thought, the other two perk up. They sniff the air together. I do the same when
    I realise what they’re doing, and notice a new scent. A bit like… My pack? But my pack are here. What’s going on?
    Cogs turn in my head, and then I realise.</p>
<p>“Ohmygod people made clones of you guys and they’re attacking us!”<br>
    “Shut up, Serra.” Gunnolf cuts in.<br>
    “They’re gonna kill us and take our pl-” Gunnolf bites my mouth to stop me yelling. The fact that this is how
    humans show love crosses my mind, but the anger coming off him advises me to keep quiet.<br>
    “I believe they are your friends, Serra. Those metahumans you run with.” Fenrir is a voice of reason. But I don’t
    want reason right now.<br>
    “You guys are boring.” My growl is muffled due to Gunnolf.<br>
    “Serra. You probably want to take human form in order to meet them. I’ll get you some clothes. Gunnolf, let her
    go.” He does so reluctantly as Fenrir disappears for a few moments.</p>
<p>After some pestering, I shift back into human form and get dressed. This is uncomfortable. I can smell my friends
    now though, so it’s probably for the best.</p>
<p>Ergh. Why did they have to come over? Didn’t I make it clear that I didn’t want to see them right now? Pretty sure
    I’ve been ignoring them for a few hours or something. But here they are. The distinctly magical smell of Liz, the
    young and energetic smell of Echo, the distinctly somewhat elf and somewhat orc but very expensive smell of Kaz and
    the vague weed smell of Redline. They’re all here. Oh, and that robot Echo sits on a lot.</p>
<p>Actually, maybe the weed is me. I think I have some around here. Yeah, it’s actually probably me. What was I doing
    again?</p>
<p>Then they enter the clearing, led by Roukan. And all of my pack seem to have turned up as well - I guess to greet
    the newcomers? I see Chinua and start licking her face as the rest of the pack sort things out. I don’t really want
    to deal with these people right now.</p>
<p class="center">...oooOOOooo...</p>
<p>After that they forced me to sober up and we’d had a “talk”. Things got difficult fast. It wasn’t my fault, although
    Liz would probably say it was. When did life get so difficult?</p>
<p>Ula spoke up.</p>
<p>“Serra… This is a big deal, as you know. But most of us aren’t like you. We don’t move when we’re in danger. We
    protect our homes.”<br>
    “Hey, I didn’t have a choice! Besides, if I had stayed there, I wouldn’t have met you guys.”<br>
    “I know. I’m not answering as your friend here, even though of course I am. I’m answering as a beta. Isn’t that why
    you came to me?” Her words ring true. It’s a large part of the reason I decided to speak to her. She continues,
    interrupting my train of thought.</p>
<p>“I know you’re set on going. And I know you’re going to bring this to a vote. I’m not going to stop you. But I’m
    your friend and even I don’t want to go with you. How do you think the rest will react?<br>
    “It’s going to take quite the argument to convince everyone to move. And I know you’re stubborn - you’re going to
    move regardless. You need to put together something coherent if you don’t want to be the only one.”</p>
<p>I consider for a few minutes, signalling submission to my beta. She’s right, of course. And not only that, she’s
    putting aside her personal feelings to do what she feels is best for me. Having already lost one home, Ula is more
    attached to this place than most of us, but unlike some others will listen to reason.</p>
<p>She’s going to be difficult to convince, but probably not as difficult as some. Gunnolf, for example. I don’t know
    what I see in him when I get drunk or sappy - the guy hates me. I'm glad he never takes me up on my offers. He’ll
    probably vote against anything I say on principle. He even voted against this forest to begin with.</p>
<p>“You’re right, Ula. Thank you.” I flatten myself against the ground. “I’ll rest and think on it.”<br>
    Ula pads up to me and nuzzles my neck affectionately. “No problem, ma cherie. Let me know when you want to call the
    vote.”</p>
<p>I hear her walk away, continuing on her patrol, and think.</p>
<p class="center">...oooOOOooo...</p>
<p>A howl goes out through the forest. Deep and strong, I can hear the urgency in my alpha’s voice. Dwam wants a pack
    meeting as soon as possible.</p>
<p>Accalia follows soon after, and then Ula and Chantelou, as usual. Ula is with Dwam and Accalia, by the sounds of
    things. Then the rest of us chime in, one by one. Of course, as the newest and lowest-ranked pack member, I am
    last.</p>
<p>I was expecting this. She means well, but as soon as I told Ula what was going on, I knew this would happen. Dwam
    knows her too well not to notice when something is up.</p>
<p>I walk slowly to the clearing where the pack will gather. Someone has started a fire - probably Chinua or Larentia.
    They spend more time in their human forms than any of the rest of us. Honestly, although I like them, those two are
    probably part of the reason the rest of my pack can be so wary around technology.</p>
<p>As much as I try to delay, it isn’t long before I reach the clearing. Dwam gives me a look that says, “You took your
    time.” and I have to look away to avoid the shame.</p>
<p>It is Accalia, however, that speaks up.<br>
    “Now that we are all here,” she starts, emphasising the idea that she has been waiting for some time, “Maybe our
    <em>new leader</em> would like to tell us her plan to move us all halfway across the country?” She exudes an aura
    of anger and threat.</p>
<p>Apparently, this was not the best idea. But before I can try to justify myself, Roukan interrupts.<br>
    “<em>New leader</em>? Accalia, I appreciate that you feel threatened right now, but you’re overreacting a bit.”<br>
    “Shut up and let your alpha talk.” Gunnolf growls in response.</p>
<p>Clearly, emotions are running high. It seems that word of my plan has spread faster than I’d anticipated. The twins
    seem to be the only ones staying out of it, so I submissively stalk over to them, taking care not to draw too much
    attention.</p>
<p>“This is all my fault.”<br>
    “No, it’s not.” Larentia is naturally a peacekeeper. Of course she’d say that.<br>
    “Tensions are running high because of the situation.” The twins take turns speaking, as is their habit.<br>
    “Deus is a big deal. You understand that.”<br>
    “And most of the others are terrified of technology.”<br>
    “But we don’t know the whole story, and that’s scary.”<br>
    “Maybe you need to talk to them.”</p>
<p>Always a little disoriented at their manner of speaking, it takes me a few seconds to catch up. By the time I do so,
    Chinua and Larentia are both nuzzling me into the centre of the circle, closer to the fire.</p>
<p>I know it isn’t intentional, but the location of the fire seems somewhat symbolic.</p>
<p>I growl over the conversation to catch their attention.<br>
    “You have, by the sounds of things, heard about Liz. And Deus.” The chatter dies down a little.<br>
    “And also about my clearly controversial plan to deal with this threat.” Anger and fear fill the air.<br>
    “I would like to fully explain myself before any of you make snap judgements, so please hear me out.”</p>
<p>I take my time, talking in detail about what we did and the potentially far-reaching consequences. I explain how I
    felt, why I did what I did, and why I’m worried.</p>
<p>I explain what Kaz did. As much as I hate the idea of pledging myself to Lofwyr, I understand why Kaz did so. As
    wolves, all of us value our freedom. But I try to appeal to their sense of duty. Most of my speech I’m pulling out
    of my ass, trying to say anything that makes sense which might pull some of my family over to my side.</p>
<p>I can’t afford to lose them. As much as I know we have to leave here, I doubt I would survive on my own. So I speak
    my heart and hope. More than anything else, I'm scared.</p>
<p>“So I’m sorry for causing you all this distress but… The world needs us. We have to do what we can. And I need you,
    my family.”</p>
<p>Accalia strides to the centre as I back off to the safety of the circle. “Well, we’ve heard a lot today. I’m sorry
    for doubting you, Serra. But what you’re asking is a big deal and I think we all need some time to think on it.
    Besides that, we’re nearly reaching the hottest point of the day, so it’s probably worthwhile for all of us to get
    some sleep.”</p>
<p>The group disband to our usual sleeping groups. I find Chinua and Larentia and we curl up in our normal hollow.
    Sleep comes in fits and starts, but soon it is time to wake up.</p>
<p class="center">...oooOOOooo...</p>
<p>For such important subjects, we don’t vote in person. Chinua tried to convince the group to make a digital voting
    system, but too many were wary of technology. Instead, we scent certain trees.</p>
<p>The pack have been given a day to make their votes. I spend most of that time wandering between the two trees in
    question, checking to see how many people are backing me. They’re at opposite ends of the forest to avoid
    accidental territory scenting, so it takes me about 20 minutes to walk between them. I get a lot of exercise.</p>
<p>Chinua, Larentia and Roukan back me almost immediately.<br>
    Gunnolf does the opposite just as quickly. Dickhead.<br>
    I’m expecting Accalia and Dwam to vote last, to avoid affecting the vote, but surprisingly Dwam rejects the idea
    fairly quickly. It’s not long after that that Accalia puts forward her vote in favour of me.<br>
    Sindari is next, voting against. She likes it here and, as much as I hate to say it, probably doesn’t understand
    the consequences of staying.<br>
    She’s followed by Honi, backing me as well. Although I now have half of the pack in my favour, this could still
    signal a split in the pack instead of a victory. That would be just as heartbreaking.<br>
    Then nothing for a long time. In fact, I don’t know the order in which the last three votes come.<br>
    Chantelou, Ula and Fenris all back me at the last minute, but I don’t find out until the pack gathering.</p>
<p>Accalia announces it. She gives the three who voted against the opportunity to voice their concerns. Of course,
    Dwam is the first to step up.</p>
<p>“Serra, this is ridiculous. <em>Lofwyr?!</em> You can’t trust him, none of us can!”<br>
    “But he could save everyone.” It is clear that this is the same issue that the other two have. Well, maybe not
    Sindari. I can never be sure what she's thinking.<br>
    “We both know he won’t! Stop this foolishness right now. If you withdraw your claim right now, I won’t hold any of
    this against you.”<br>
    I take on a submissive pose, but I don’t back down. “I’m sorry, alpha, but I can’t do that. We have a chance this
    way. I can’t just sit back and watch as our planet gets destroyed.”<br>
    “Dwam, it’s a valid concern,” Accalia interrupts for a moment, “Maybe we can find a solution here?”</p>
<p>A discussion ensues, much calmer than the day before. Then, suddenly, someone calls out, “What about Hestaby?”<br>
    We all turn in unison to face the speaker. It’s Honi.<br>
    “You’ve worked with her before, right? And I’ve been around the Draco Foundation. They’re much better than Lofwyr.”</p>
<p>Sounds of agreement fill the clearing. Even Gunnolf seems to be accepting of this plan.</p>
<p>Accalia speaks up one last time. “Very well, Serra. You get your wish. We’re moving to California.”</p>
{% endblock %}