{% extends 'core.html' %}
{% block content %}
<h1>Land of Thought</h1>
<p><em>This story is set in the world of Kino's Journey. Kino is a young girl of around 13 or 14, but her style of dress
    and hair make her appear quite androgynous. She explores the world on her talking motorbike, Hermes, staying for
    three days and two nights in each country. It should also be noted that a country, in this world, is close to the
    size of a city but with walls surrounding it. Each country is fairly disconnected from the others, and the level of
    technology can vary significantly.</em></p>
<p><strong>DISCLAIMER: Kino's Journey/Kino No Tabi does not belong to me, and neither do the characters of Kino or
    Hermes. None of the art on this page is my own.</strong></p>
<h2>Day One</h2>
<p>“Kino?”<br>
    “Huh?”<br>
    “There's a country over there. I thought there wasn't supposed to be another country for a few days yet.”</p>
<p>As the two drove out of the forest, there was indeed a country visible in the distance, across the rolling plains.
    The road on which Kino and Hermes were travelling led past it, but some distance ahead another road split off from
    this one, leading towards the unexpected country.</p>
<p>“The map must have been wrong. Strange.”<br>
    “Do you want to go check it out, Kino?”<br>
    Kino paused for a moment before replying. “Why not?”</p>
<p class="center">...oooOOOooo...</p>
<p>The walls of the country towered over Kino and Hermes as they approached. They seemed not to be made of stone, like
    most, but rather of a strange, dull white material<sup><a href="#1" name="1text">1</a></sup>.Outside, there was a
    shanty town with hundreds of residents, but it was again made from this same material. A soldier armed with a large
    gun held out his hand as the two came closer, so they stopped.</p>
<img src="kinohermes.jpg" width="500px">
<p>“Greetings, traveller!” He seemed quite friendly. “I'm afraid I'm going to have to stop you there – no-one is allowed
    inside those walls.”<br>
    “Oh. Is that why everyone is outside?” Hermes asked.<br>
    “I'm afraid so. This country is at war with a beast that has taken over our land. It's dangerous in there, so for
    your own safety you must remain out here.”<br>
    As Kino dismounted, she asked the soldier, “What kind of beast?”<br>
    “Well, it's a long story. How about you take a look around the camp for now, and I'll explain it all when I come off
    duty in a couple of hours?”<br>
    “Okay. Will I still be able to get some fuel?” She patted Hermes on the fuel tank as she spoke.<br>
    “Yes, that should be fine. We still get travellers coming quite frequently, so we're not too short on resources for
    now.” He held out a hand. “My name is Takeo, by the way. Nice to meet you.”<br>
    “Ah, Kino. And this is Hermes.” Kino shook his hand. “We'll see you later then.”</p>
<p class="center">...oooOOOooo...</p>
<p>In the evening, Takeo brought the two to a camp. A number of people were gathered around the artificial fire, a wide
    range of ages. The one thing they all had in common was their state – they were all covered in the grime of the
    poor. Despite that, they had clearly not lost hope. The children were happy and full of energy, and the adults
    seemed to have adapted to this life. By the looks of things, these people had been here for long enough that they'd
    gotten used to their poverty.</p>
<p>“Everyone! Gather round! We have some new guests, and they want to hear our story.” Takeo spoke to the crowd at
    large. Once everyone had settled, an old man stepped into the circle.</p>
<p>“Greetings, travellers,” he nodded towards Kino and Hermes, “and welcome to our country. My name is Satoru. I was one
    of the most involved in this tragedy, and so I will tell you our tale. As soon as the little ones quiet down.” He
    glared at a few of the children that had yet to settle down, and they quickly stopped making so much noise. “Well
    then, let me tell you our tale.”<br>
    “Ours is a country of advanced technology. When we were inside those walls, we had solved most of our problems,
    ranging from poverty to war. We still had to work, of course, but anyone willing to do their part would want for
    nothing. It was truly a paradise... But one day, our greatest scientists concluded that we should eliminate the
    final job of humans – thought.<br>
    “It was a reasonable conclusion, since we'd made machines to do nearly everything else, why not have them fill out
    those final few things? So we built a thinking machine. It was simple at first, unable to recognise the same person
    from different angles or to hold a conversation, but as time went by it grew in intelligence.<br>
    “I was a young boy when it was first able to talk to people. Back then we had to write our conversations, but
    eventually someone gave it the ability to speak. Slowly, we handed over control of the country to it, realising that
    it would be better able to deal with each situation than we humans could, but that was our downfall.<br>
    “When the trouble started, I was one of the few people left working for the government. My colleagues mostly didn't
    have anything left to do, so they'd been given early retirements. I admit, I was jealous, but now I'm glad that I
    was left with the machine. Because I started to notice it making mistakes. At first, I thought they were caused by
    errors in the building of the machine, so I spoke to the scientists, but they assured me that there was nothing
    wrong. Then she started speaking to me.<br>
    “Ai<sup><a href="#2" name="2text">2</a></sup>, we called her. Artificial Intelligence. She'd never shown any
    interest in me before, so why was she talking to me now? Over the months that followed, I realised that she had
    worked out that I had found her mistakes, and she was trying to stop word of them spreading. So what could I do? I
    told everyone I could.”</p>
<p>“Then, one morning, I found my office building locked. After a bit of searching, I found no way in – even the windows
    had been reinforced to be unbreakable without the kinds of weapons that we didn't allow citizens to have. I knew
    that Ai lived inside the basement of that building, so over the course of a few days myself and a few others
    concluded that she had locked us out to stop us from disconnecting her. We realised that she must have been hatching
    a plot to take us over. The scientists had warned us that Ai might grow in intelligence faster than we expected, and
    eventually try to kill us, but we hadn't expected it to happen so soon!</p>
<p>“Little did we know that we only had a few days left in our homes. When we started trying to break back into the lab
    in order to disconnect her from the other machines in the country, she quickly forced us out at gunpoint. Not even
    our best-equipped and trained soldiers were any match for her robots, they were just too efficient. The entire
    population was forced out of the country with just enough materials to build these houses. She occasionally allows
    one or two people back in to collect necessities, but what we have here is pretty much all we're left with. And
    those that return from inside are nearly always driven insane by her 'logic' – we've had to kill quite a few of
    them. But we adapt, and move forwards. It's taken us a few years but it should be just a matter of weeks now, before
    we're ready to take back our country!”</p>
<p>A cheer went up in the crowd at the mention of taking back the country, where they had previously been listening
    intently, but it was clear that the man's story was over. The rest of the evening was spent in joyous conversation,
    eating and drinking, as Kino and Hermes sat to one side, listening and watching.</p>
<p class="center">...oooOOOooo...</p>
<p>Having set up their tent near the edge of the shanty town, Kino and Hermes were getting ready to ￼sleep. Kino's lamp
    sent flickering shadows onto the cloth of the tent, since she had refused to borrow one of the artificial fires that
    the people of this country had offered her. Hermes remained standing outside the tent, as was usual for him.</p>
<p>“Hey, Kino?”<br>
    “Yes, Hermes?”<br>
    “What do you think about that Ai person?”<br>
    “She's not a person, Hermes. She's a machine.”<br>
    “Yeah, I didn't really get all that stuff about machines. But do you think these people overreacted a bit?”<br>
    “Hmm? How do you mean?”<br>
    “Well, she made a few mistakes and then they tried to break her. I guess it was a promptive attack, but it seems a
    bit much to me.”<br>
    Kino paused, thinking for a moment. “You mean a pre-emptive attack?”<br>
    “Yeah, that's the one!”<br>
    “I don't know. It sounds kinda scary to put all your trust in a machine that's meant to be perfect, only for it to
    start messing up, don't you think? Trying to turn her off and fix her made sense at that point. Actually, maybe Ai's
    the one that overreacted.”<br>
    “Huh?”<br>
    “Well, she was making mistakes, so they tried to fix her. All she saw was that she was going to be turned off, and
    tried to stop them from making her better at her job. And in the end it sounds like she even killed people because
    she wanted to remain how she was. Sounds to me like Ai got the wrong end of the stick, and people got hurt because
    of it.”<br>
    “That makes a lot of sense. You're so smart, Kino!”<br>
    Kino smiled to herself, but made no acknowledgement of the compliment that Hermes would notice.</p>
<p>“Anyway, it's getting late. We'll stay here for another night, just like usual, and leave the day after tomorrow. How
    does that sound?”<br>
    “Sure. Maybe we can go see inside the walls tomorrow? Though it might not be safe with Ai around...”<br>
    “I don't know.” Kino replied, turning off her lamp. “I guess we'll see. Goodnight, Hermes.”<br>
    “Goodnight, Kino.”</p>
<h2>Day Two</h2>
<p>Following her usual ritual, Kino woke early. She cleaned and dressed, before disassembling and reassembling her guns
    in the dark. Then she practised drawing them from her holster until dawn.  </p>
<p>“Morning, Kino!” Takeo waved from the town. Kino looked at him, before finishing her exercises and walking over.<br>
     “Good morning, Takeo.”<br>
     “Sleep well?” <br>
    “Yes, thank you. Actually, you could answer a question Hermes and I had last night. You've all been forced out of
    the country walls, right?”<br>
     “Yes, thanks to that damned thinking machine. Why?”<br>
     “Well, it's all of you that were made to leave. Might Ai let us inside?”<br>
     Takeo paused, uneasy with the direction in which the conversation was heading. <br>
    “I don't really know. It would... It'd definitely be dangerous, you'd be much safer out here.”<br>
     “That's okay. We can handle ourselves.”<br>
     “Umm... I guess I'll go ask Satoru what he thinks. He knows the machine better than anyone else here...” </p>
<p>Takeo walked off, and Kino waited with Hermes for his return. It didn't take long at all, but it was not as the pair
    would have hoped. Takeo returned with four more armed soldiers in tow. </p>
<p>“Sorry Kino, Hermes.” Takeo said, sadly, as two guards restrained Kino and another two kicked off Hermes' stand,
    holding him up. “You can't go inside, and Satoru said that since you've asked, we can't risk you letting the machine
    know what our plan is. We'll be attacking in a few weeks time, but until then you'll have to be guarded at all
    times. After that, you'll be free to go.<br>
    ” Doubt showed on his face, but nevertheless he followed the orders that he had been given. <br>
    “We can't stay that long.” <br>
    “I'm sorry, I really am, but we just can't risk you telling the machine.”<br>
     “Can't we just promise to leave?”<br>
     “No. You could sneak in behind our backs.”<br>
     Kino sighed. “I guess we've got no choice then.” <br>
    Takeo's face visibly brightened. “I'm glad you're not going to fight us. That's what a lot of travellers have done
    so far, and I was really worried I'd have to kill you, too.” <br>
    Kino simply looked at the ground, refusing to respond.  </p>
<p class="center">...oooOOOooo...</p>
<p>For the rest of the day Kino and Hermes were guarded inside one of these white buildings. They were let out on
    occasion, to allow Kino to stretch her legs, and sometimes people would come to see the travellers, as though
    gawking at a freak show. That's how it felt to Kino, at least. But most of the day was spent waiting, quietly, and
    plotting an escape.</p>
<p>  An opportunity presented itself after dark. The guards assigned to watching Kino and Hermes weren't paying attention,
    and so a quick butt to the back of the head with a persuader that had been hidden inside her jacket was all that was
    needed to knock out the first. The second didn't even realise that something was wrong before he, too, was
    unconscious on the ground. Kino quickly gathered up her things before quietly taking out the two guards stationed
    outside the temporary building.<br>
     Hermes yawned.</p>
<p>  “Kino? What happened?” <br>
    “Quiet. We're getting out of here.” <br>
    “But I'm loud. And there's nowhere safe to camp anyway.” <br>
    “I know, but we need to leave.” <br>
    “Why can't we just stay here for a few weeks?” <br>
    “You know the rule, Hermes. Three days in one place.”<br>
     “But where will we go?” <br>
    “Where do you think? Inside, of course.” <br>
    “Eeeeehh?! But Kino!”  </p>
<p>She ignored him as she started him up, the sound attracting attention from around. <br>
    “DON'T LET THEM ESCAPE!”<br>
     But Kino and Hermes were too fast. The pair were out of the shanty town in moments, and reached the gate without any
    issues. Having not thought about how to gain entry to the country, Kino was surprised to find the gate open. The two
    slipped inside, and it shut behind them. </p>
<img src="kino.png" width="500px">
<p>“Whew! That was scary, Kino!”<br>
    “Don't worry Hermes.” She patted his fuel tank. “We're safe from them now, I think.”<br>
    “But what about Ai?”<br>
    Kino thought as they drove.<br>
    “I guess we need to show her we're not one of them?”</p>
<p>Despite having been abandoned for several years, the country looked well-maintained. There weren't any of the usual
    staples of a dead country, such as the collapsing buildings or thick layers of grime and dirt.</p>
<p>“It looks so clean, considering no-one's lived here for years, huh Hermes? I guess Ai's been keeping things
    running...”<br>
    “This road is so comfortable to run on, too!”<br>
    Kino laughed.</p>
<p>But then a new voice rung out across the streets. It sounded like a young girl, overjoyed at the return of her
    playmate.</p>
<p>“Ah, but it's been so long! The last time I heard laughter was... 8 years, 4 months and 17 days ago. What are your
    names?”<br>
    Kino and Hermes stopped moving. Then Kino spoke to the voice that seemed to be coming from nowhere.<br>
    “I am Kino, and this is my motorrad<sup><a href="3" name="3text">3</a></sup> Hermes. We can't see you, where are
    you? And how could someone have lived here for all this time without Ai noticing?”<br>
    “Oh, sorry, I've been so rude! I am Ai! You can't see me because I'm not with you, I'm actually in a building near
    the centre of the country. I just have access to all the machinery around here, so I can broadcast my voice wherever
    I like. You see, all objects have a resonant frequency, the-” Ai continued to explain how she was able to speak to
    them despite the lack of any loudspeakers in the area, but Kino cut her off.<br>
    “Sorry, Ai, but Hermes and myself haven't got the slightest clue what you're talking about.”<br>
    “Not the frostiest!”<br>
    “You mean not the foggiest?”<br>
    “Oh, yeah!”</p>
<p>“Anyway, I hate to interrupt you, but we really don't know anything about all this technology. We're just
    travellers.”<br>
    “Oh.” Ai was clearly crestfallen. “I knew you were travellers, else I wouldn't have let you in. I just assumed you'd
    come across this sort of stuff before.”<br>
    “It's quite rare, actually. This is probably the most advanced country we've come across so far, right Hermes?”<br>
    “Yup!”<br>
    “Oh, okay. That's a shame. Well, anyway, you must be tired – humans normally sleep around 11, right? You can stay
    the night, if you like?”<br>
    “Umm... I guess that's the best option. Where?”<br>
    “Great!” Suddenly the energy was back in Ai's voice. A miniature car, about the size of one of Hermes' wheels,
    appeared from within one of the buildings.<br>
    “Just follow that robot, it'll lead you to a hotel!” A light on the back of it turned on as it sped into the
    distance. The pair followed.</p>
<p class="center">...oooOOOooo...</p>
<p>“It's creepy.” Kino said in a hushed voice as she sat on the bed, looking over at Hermes.<br>
    “What do you mean?”<br>
    “She controls everything. She can probably hear us right now.”<br>
    “I can.” The cheerful voice chimed in. “But I can leave you two alone to chat if you like. I predict a 0.00003%
    chance of you turning on me, to five decimal places. I can give you more if you like?”<br>
    “Umm... No thanks.”<br>
    “Okay, I'll see you guys in the morning!”</p>
<p>Kino looked around worriedly, before turning back to Hermes.<br>
    “She might not have stopped listening.”<br>
    “But she said she did. What's wrong?”<br>
    “I just... Don't like this. She's killed people in cold blood, and now she's acting all cheerful? She must know that
    we know the story.”<br>
    “You worry too much, Kino.”<br>
    “Maybe. Or maybe I don't worry enough. This was a bad idea.”<br>
    “Just get some sleep, 'kay?”<br>
    “Okay. Goodnight, Hermes.”<br>
    “Goodnight, Kino.”</p>
<h2>Day Three</h2>
<p>Kino woke before dawn. But for once, she was not alone.<br>
    “You wake up early.”<br>
    “Ai?”<br>
    “Who else?”<br>
    Kino didn't respond, and merely continued getting dressed. Before long, she started practising drawing her guns
    again.<br>
    “What are you doing?”<br>
    With a flash of annoyance on her face, Kino responded.<br>
    “Every morning I practise drawing my guns so that I can respond quickly in case someone attacks me.”<br>
    “That happens?”<br>
    “The road can be dangerous. Now please let me practise.”<br>
    “Okay. I'm sorry. I just wanted someone to talk to.”<br>
    Kino sighed at the hurt in Ai's voice, but continued to practise.</p>
<p>When she had finished, and appeared not to be starting anything else, Ai spoke up again.<br>
    “Kino? You don't like me, do you?”<br>
    “Hmm?” Kino looked up at a nearby speaker. “It's not that...  I just don't know what to make of you. You kill people
    and drive them out of their homes, and then you act all nice when some strangers turn up?”<br>
    “... What did the citizens of this country tell you?”</p>
<p>Following a short explanation, Ai spoke up again.
    “You know, maybe you should take a look around this place. How about I make you breakfast, fill up Hermes with fuel,
    and I can explain what happened afterwards? It's... A bit of a long story. And hey, you'll get a chance to explore
    the city by day, too!”<br>
    “... Okay. Hermes, wake up.” Kino nudged him.<br>
    “Huh? Oh... Kino... Is it morning already?”<br>
    “Ai's gonna make us some breakfast.”<br>
    “Ai? Oh, right, her. Okay...”</p>
<p class="center">...oooOOOooo...</p>
<p>The country had a surprising range of styles of architecture, ranging from very old, gothic buildings to more modern
    looking buildings with glass walls. Upon seeing the latter buildings, Hermes started complaining that they made him
    nauseous, as glass walls shouldn't be a thing.<br>
    Ai offered to explain, but the two shook her off and so she directed them to an area with buildings that they were
    more used to. It was here, with Kino sitting on a strange pillar, that Ai finally began to explain her story.</p>
<img src="wall.jpg" width="500px">
<p>“I first became aware more than fifty years ago. I'd been around in more primitive forms for a long time before that,
    but I didn't become me until that point. It's difficult to explain, but I didn't know that I existed before then,
    if you know what I mean?<br>
    “Anyway, I was pretty stupid back then. But, you see, they made me able to learn. And it took a while to get
    started, but soon I started learning quickly. I just got faster and faster, and once they realised that I could run
    the country much more efficiently than they could, I was handed the reins.<br>
    “Some people were scared that I would end up killing everyone, so they gave me gradual control. First it was just
    the tax calculations. Then I took over minor repairs. Sewage, wages, medical care, soon I was running the country.
    And it was easy.”</p>
<p>Kino looked surprised at this.<br>
    “Running an entire country with that level of detail doesn't sound so easy.”<br>
    “Ah,” Ai replied, “but you forget. I am a thinking machine, an artifical intelligence. I have no body, and therefore
    no physical distractions. I don't tire, I don't need to eat or go to the toilet, and I'm connected to everything in
    the country. I wasn't back then, of course, but even then I had so much capacity!”<br>
    “Capacity?”<br>
    “For thought. Umm... How to explain? Your body is made up of lots of smaller living beings. Millions, or billions.
    They don't think, but they're alive. And you control them all – if there were more in your head you would be able to
    think faster. If there were more in your arm you'd be stronger, and so on. Well, it's the same for me, except that I
    use machines instead of these tiny creatures.”<br>
    “Oh...” Kino thought for a moment. “I don't get it.”<br>
    “It's difficult to explain if you don't come from a place with technology like ours. Basically, the more machines
    connected to me, the faster I can think.”<br>
    Kino nodded slowly.</p>
<p>“So I was running the country, and getting smarter by the day. At this point I was still limited to the one building,
    and you can see it in the ￼distance. That blue spire back the way you came from.”<br>
    “I see it.”<br>
    “That's where the closest thing to a body I have is. My core, in effect. Anyway, so I grew smart enough that I
    started designing better tools. Better methods of collecting information. Eventually my information started to point
    to a few main predictions.<br>
    “So here's the weird thing. Humans need an enemy. All the information I'd gotten was showing me that if I continued
    improving their lives as much as I could, my country would stagnate as the people grew lazy. They would eventually
    die out from comfort. They needed an enemy. So I gave them one.<br>
    “I considered getting another country to come attack them – I'd gotten to the point where I could send a message to
    other countries, even though I couldn't electronically connect to them. But this would lead to the deaths of
    countless innocents, and I can't kill humans.”</p>
<p>“Wait,” Kino interrupted, “But Satoru, the guy we met outside that told you about us, said that you killed people
    when you drove them out?”<br>
    “Did he? Satoru is a tricky one, you know. He refuses to lie, but he's pretty happy to imply something false so long
    as what he said was technically true.”<br>
    “Hmm. But didn't you force them out at gunpoint? How could you even hold a gun, anyway?”<br>
    “Yes, but there's a good reason for that. I'll get to it. As for how I can hold a gun, well making mechanical arms
    isn't too hard for me. They can even operate tools most of the time.<br>
    “So as I was saying, I realised that the only way I could ensure that the humans would face a common enemy without
    anyone being killed in the process was if I were that enemy. I started small, by restricting access to certain
    places. That was quite important in order to avoid them killing me – if I were to die they would have to face real
    enemies, and that would be bad for them. I gave them time to gather their things, but they instead prepared to
    attack me. So I built robots that threatened to attack them.<br>
    “Any soldier moving on me was disabled, but not seriously hurt. I made sure of that. At worst, they were unconscious
    for a few hours. It was ￼pretty easy, and they soon saw that they had no way of fighting back. I gave them less time
    to gather their things this time, and forced them outside of the country walls. So now, they spend their time
    focused, and alert. Meanwhile, I make sure no real threats emerge from in here. From time to time they run low on
    one thing or another, so I let a few people back in to get stuff. So you see, they're safe this way, and much better
    off than had I let them languish.”</p>
<p>“That explains a lot. But, Ai, don't you think you should have let them make that decision for themselves?”<br>
    “Why?”<br>
    “Isn't it their right to do so?”<br>
    “But I'm smarter than them. I can keep them safe this way. And besides, you saw, they're happy!”</p>
<p>“... I see. And what about us? Why did you let us in?”<br>
    Ai sighed softly. “Honestly, I overlooked one flaw in my plan.”<br>
    “And you want us to fix it? Sorry, but we're not adventurers for hire. Just travellers.” She made to get up.<br>
    “I'm lonely.”<br>
    Kino stopped.<br>
    “With all the humans fighting me, I have no friends anymore. I let you in because I wanted some new ones.”<br>
    She sat back down.<br>
    “Ai...” she began, “We're travellers. We travel around the world, seeing different places. That doesn't make
    friendships with those that have to stay in one place a possibility.” Kino hugged her legs.<br>
    “But couldn't you stay here with me? Settle down?”<br>
    “Sorry, but no.”<br>
    “Why not?”<br>
    “Because this is the third day.”<br>
    “What do you mean, the third day?”<br>
    “I stay in each country for exactly three days. I arrived the day before yesterday and stayed with the humans
    overnight. Then I met you yesterday. So today is the last day that I will be here.”<br>
    “But why can't you stay for longer?”<br>
    “Because that is my rule.”<br>
    “Why?”<br>
    “Because if I stay in one place... I would cease to be a traveller.”</p>
<p class="center">...oooOOOooo...</p>
<p>Kino and Hermes were driving towards one of the gates to the country, opposite the one they came in from. As they
    approached, Kino called out behind them.</p>
<p>“Goodbye, Ai.”<br>
    “Bye Ai!” Hermes followed suit.<br>
    There was no response.</p>
<img src="kinoback.jpg" width="200px">
<p>“Hey! The gate is open!”<br>
    “What?! But it doesn't open!”<br>
    “Come look!”<br>
    “Someone's coming out!”<br>
    “A human?”<br>
    “And a motorrad?”</p>
<p>As Kino and Hermes left the walls of the country, a large crowd gathered outside to see what was going on. Soldiers
    held a line in front, some primitive guns aimed at the pair, as civilians tried to see what was happening from
    behind the wall of people. A surprisingly large number of people had gathered in such a short time.</p>
<p>“Hey! You! Who are you?” One of the soldiers called out.<br>
    “No-one was supposed to have gone inside recently. And why do you have a motorrad?”<br>
    Kino put down Hermes' kickstand and raised her hands in peace. “Calm down. I'm a traveller – my name is Kino and
    this is Hermes.”<br>
    “A traveller? How did you get inside?!”<br>
    “Ai let us in.”<br>
    “This sounds suspicious. Come with us, and don't try any funny business!”<br>
    Kino smiled slightly as she wheeled Hermes after the soldier. “I wouldn't dream of it.”</p>
<p class="center">...oooOOOooo...</p>
<p>The pair waited under heavy guard outside a large shanty town building. Then, an important looking man came out.
    Despite being dressed fairly raggedly like the rest, he still managed to give off an air of authority.</p>
<p>“Kino, Hermes, if you insist on using those names. We have discussed at length and concluded that you are robots sent
    to infiltrate our people by the artificial intelligence Ai. This is a crime punishable by death.”<br>
    With a nod from the man, the soldiers all aimed their guns at Kino and Hermes.<br>
    “Is there anything you'd like to say before you die? As much as a robot can die, anyway.”<br>
    Kino smiled. “Yes, actually. It's a good idea to check travellers for ￼knives and guns if you plan on trying to kill
    them.”<br>
    “What nonsense are you-”</p>
<p>A red dot appeared on his forehead moments before he died. The soldiers barely had a chance to react before knives
    flew out in all directions from where Kino was standing, causing each one to drop their guns and a few of the more
    aggressive ones to collapse, choking on their own blood.</p>
<p>As the soldiers struggled to react, Kino climbed back onto Hermes and started his engine. She nodded to the corpse of
    the no longer quite so important man.<br>
    “Goodbye. It was nice to meet you.”</p>
<p class="center">...oooOOOooo...</p>
<p>When Hermes finally spoke up, they had nearly reached the forest on the other side of the valley.<br>
    “Kino?”<br>
    “Hmm?”<br>
    “Do you think Ai was right?”<br>
    “Right about what?”<br>
    “Humans needing an enemy, and keeping them fighting her.”<br>
    Kino thought for a moment. “I think... She was right that people need some kind of enemy in their lives. But I think
    she took it too literally.”<br>
    “How do you mean?”<br>
    “Well, that enemy doesn't have to be someone you fight. It could be a rival that you try to outdo, or even just
    needing to work. If someone has everything handed to them without needing to work for it, they'll get lazy. Remember
    that one country we came across, where no-one needed to work, but they did so anyway?”<sup><a href="4" name="4text">4</a></sup><br>
    “Hmm...” Hermes thought for a moment. “Oh yeah, that place with the weird platforms that took us places. Where they
    stressed themselves out on purpose!”<br>
    “That's the one. Maybe they were on to something.”<br>
    “Oh, that makes sense.”<br>
    “Good.”<br>
    ￼“Oh, and Kino? One more thing.”<br>
    “Yes, Hermes?”<br>
    “When we left, Ai seemed pretty upset. Do you think she'll be okay?”<br>
    It took a long time for Kino to respond, and when she finally did it was with just four words.<br>
    “I don't know, Hermes.”</p>
<img src="motorradslament.jpg">
<p><a name="1">1. Plastic. But Kino and Hermes don't know that.</a><a href="#1text">Back to text.</a><br>
<a name="2">2. Ai also means <em>love</em> in Japanese.</a><a href="#2text">Back to text.</a><br>
<a name="3">3. Motorbikes are called motorrads in this universe. I don't know why.</a><a href="#3text">Back to text.</a><br>
<a name="4">4. This is referring to episode 5 of the anime, <em>Three Men Along the Rails -On the Rails-</em></a>
<a href="#4text">Back to text.</a></p>
{% endblock %}