{% extends 'core.html' %}
{% block content %}
<h1>Blog Posts</h1>
<p>
    Sometimes I think about things that are worth writing down. Sometimes they're even worth the effort of putting
    online. Here are some of those thoughts:
</p>

<div class='card-container'>
    <div class='card'>
        <h3><a href="/blogs/site/">Site Creation</a></h3>
        <p class="center">
            Some details about how I made this site, and how it's operated.<br>
            Updated 30/06/2021
        </p>
    </div>
    <div class='card'>
        <h3><a href="/blogs/gmg/">Game Maker's Garage</a></h3>
        <p class="center">
            Thoughts on Nintendo's "Game Maker's Garage", for the Switch.<br>
            Updated 30/06/2021
        </p>
    </div>
</div>

{% endblock %}