{% extends 'core.html' %}
{% block content %}
<h1>Puppykit!</h1>

<p>
    There are three main parts to me:
</p>
<ul>
    <li><a href="personal.html#gender">Gender</a></li>
    <li><a href="personal.html#gaming">Gaming</a><ul>
        <li><a href="personal.html#videogames">Video Games</a></li>
        <li><a href="personal.html#boardgames">Board Games</a></li>
        <li><a href="personal.html#rpgs">Tabletop Roleplaying Games</a></li>
    </ul></li>
    <li><a href="personal.html#nerdiness">Nerdiness</a></li>
</ul>
<p>
    A bunch of these things will, of course, spill over onto other pages, but an introduction is below.
</p>
<img src="/img/me.jpg" alt="Sanchit!">
<p class="caption">Me!</p>

<h2 id="gender">Gender</h2>
<p>
    I identify as genderfluid and non-binary. This means that how much of me is male and how much is female varies over
    time, and I never identify fully as either male or female. I strongly prefer that people use gender-neutral
    pronouns when referring to me.
</p>
<img src="/img/genderfluid.png" alt="Gender graph">
<p class="caption">The sine wave represents how male I am. 100% is fully male, and 0% is fully female. Of course, in
reality it isn't so simple, but this is a good approximation most of the time.</p>
<p>
    In my not-so-extreme case, genderfluidity will often not show up very much. Although most of the time I will appear
    as a cisgender male, that is not actually the case. Many people don't really understand non-binary gender, but I ask
    that you respect it even if you feel you don't understand it.
</p>

<h2 id="gaming">Gaming</h2>
<p>
    I'm a gamer, both video and tabletop.
</p>

<h3 id="videogames">Video Games</h3>
<p>
    Most of my video gaming is done on my desktop. Visual novels, story-heavy games, and strategy games are my
    favourites, but I play a large variety. I rarely play multiplayer, but if you find me on steam I am sometimes up for
    multiplayer gaming with people I know.
</p>
<a href="http://steamcommunity.com/id/ttio/"><img class="steam" src="https://steamsignature.com/card/0/76561197997063854.png" alt="Steam"/></a>
<p>
    If you have a similar taste to me, here's a small list of recommendations:
</p>
<dl>
    <dt><a href="https://vndb.org/v3">Utawarerumono</a></dt>
    <dd>A strategy game mixed with a visual novel about a man who wakes up in a forest with amnesia.</dd>
    <dt><a href="https://vndb.org/v14112">Sunrider: Mask of Arcadius</a> and the sequel <a href="https://vndb.org/v17694">
        Sunrider: Liberation Day</a></dt>
    <dd>Also a strategy game mixed with a visual novel, set in space!</dd>
    <dt><a href="http://store.steampowered.com/app/300550/Shadowrun_Dragonfall__Directors_Cut/">Shadowrun: Dragonfall</a>
        and the other games in the same series</dt>
    <dd>Roleplaying games set in the Shadowrun universe - Dragonfall is my personal favourite but they're all good!</dd>
    <dt><a href="http://www.frozensynapse.com">Frozen Synapse</a></dt>
    <dd>The purest strategy game I've come across, with an interesting cyberpunk setting.</dd>
    <dt><a href="https://kerbalspaceprogram.com/en/">Kerbal Space Program</a></dt>
    <dd>Building spaceships! Also fun to break the physics engine.</dd>
</dl>
<p>
    I also play a fair bit on the PS4, but mostly on whatever free games I get through PS+.
</p>
<a href="https://psnprofiles.com/TTIOttio"><img class="steam" src="https://card.psnprofiles.com/2/TTIOttio.png" border="0"></a>

<h3 id="boardgames">Board Games</h3>
<p>
    I play a lot of board, card and roleplaying games on the tabletop. You can find my BoardGameGeek profile <a href="https://boardgamegeek.com/user/TTIOttio">
    here</a>. In terms of board and card games, I lean mostly towards Euro style games, but I'm open to a wide variety.
    My favourites are (in no particular order):
</p>
<dl>
    <dt><a href="https://boardgamegeek.com/boardgame/169786/scythe">Scythe</a>, including the Invaders from Afar expansion</dt>
    <dd>A mix of Euro and Ameritrash, where the key to winning is to balance building your empire with keeping others
        from doing the same.</dd>
    <dt><a href="https://boardgamegeek.com/boardgame/9209/ticket-ride">Ticket to Ride</a></dt>
    <dd>Journeying across various nations, set collection + network building. I own USA (+1910 expansion),
        India/Switzerland, UK/Pennsylvania and the Halloween Freighter set. I plan to get most of the other expansions
        when I can.</dd>
    <dt><a href="https://boardgamegeek.com/boardgame/37904/formula-d">Formula D</a></dt>
    <dd>Roll and Move racing game. Even if it doesn't sound up your street, you should still try it. It's great! I own
        the Sebring/Chicago tracks in addition to the base game. I plan to get as many of the expansions as I can.</dd>
    <dt><a href="https://boardgamegeek.com/boardgame/120677/terra-mystica">Terra Mystica</a></dt>
    <dd>One of the few area-control games I know of that scales automatically, due to the advantages inherent in
        building next to one another.</dd>
    <dt><a href="https://boardgamegeek.com/boardgame/40692/small-world">Small World</a></dt>
    <dd>Pure Area Control, with a ton of interesting fantasy races to play. The key is to know when to go into decline!
        I own a number of expansions and plan to get as many as I can, tunnels in particular.</dd>
    <dt><a href="https://boardgamegeek.com/boardgame/163602/xcom-board-game">XCOM: TBG</a></dt>
    <dd>Although anything with "The Board Game" in the title is generally worth avoiding, XCOM is a notable exception.
        Honestly makes all the other co-ops I've played obsolete.</dd>
</dl>

<h3 id="rpgs">Tabletop Roleplaying Games</h3>
<p>
    My true love in tabletop gaming is roleplaying games. My collection of roleplaying games is massive, and I've
    written my own scenarios and systems. I lean towards narrative systems, but I have a habit of writing gamist ones.
    A full list of the games I own can be found <a href="/personal/rpgs/">here</a>, but I have a few favourites listed
    below:
</p>
<p>
    I may add more details to this at some point (including a list of what I have and haven't played, maybe ratings?),
    but for now I think the list is enough!
</p>

<h2 id="nerdiness">Nerdiness</h2>
<p>
    I am a massive nerd, both in computing and general nerd culture. I use Fedora Linux for my desktop (ditched Windows
    after the autoupgrade to 10 fiasco) and spend a lot of time watching geeky TV shows, including anime and a lot of
    sci-fi!
</p>
<p>
    A few things that have stuck in my mind over the years (in no particular order) are:
</p>
<dl>
    <dt>Gunslinger Girl</dt>
    <dd>One of the first anime series that I watched, this is a complex and deep series that ends pretty much perfectly.
        The second season pretty much wasn't worth watching, imo.<br>To this day I am in contact with friends that I
        made from my original foray into the series.</dd>
    <dt>Mr Robot</dt>
    <dd>Every once in a while, a series comes around that makes me redefine my scale. Mr Robot was one of these. As
        someone that actually knows about sysadmining (and a little about cracking as a result), the series constantly
        amazes me. The creative ways that they show realistic cracking without distracting from the story is truly
        masterful.</dd>
    <dt>Voices of a Distant Star</dt>
    <dd>As with most Shinkai stuff, actually, this is really well made. It always has a big impact on me.</dd>
</dl>
{% endblock %}
