{% extends 'core.html' %}
{% block content %}
<h1>My Professional Life</h1>
<p>
    I am an experienced and motivated Software Developer and DevOps Engineer. I am comfortable managing both remote and
    local infrastructure, and have experience implementing mitigations to most of the the OWASP Top Ten. My key skills
    are:
</p>
<ul>
    <li>Trained sysadmin, primarily working on GNU/Linux systems at small scales - workstations and low-traffic
        servers.</li>
    <li>Comfortable with Ansible, SSH, Docker, Kubernetes, Openshift, GPG/RSA encryption and various other networking /
        core infrastructure technologies.</li>
    <li>Experience implementing high-availability systems (including mission critical systems).</li>
    <li>Experience in DevOps, such as building staging databases and test environments.</li>
    <li>Comfortable with Python, Java, C++, Bash and basic SQL. Prefer to analyse tasks to determine the best language
        for implementation instead of simply using my favourite language.</li>
    <li>Good understanding of best practices in both Web and Application development.</li>
    <li>Experience as a team leader, product owner and scrum master.</li>
    <li>Red Hat Certified Specialist in Openshift Development.</li>
</ul>
<a href="https://rhtapps.redhat.com/certifications/badge/verify/WVLUPGNVJHWNLCOAISMYPOBSTYAEQU3CUPSQX2KSDXT6RW46LQ3YWP2PKMJOB2FESKFUN2GLGGL67UAA4DNI6PQU27PFU2ZMLS26POA=">
    <img src="{{ url_for('static', filename='img/DO288.png') }}" alt="Digital Certification: 200-126-472" width="50%"></a>
<p>
    On this page you will be able to see my credentials and find out a bit more about my abilities. I've split it up
    into:
</p>
<ul>
    <li>Employment</li>
    <li>Education</li>
    <li>Other details</li>
</ul>

<h2>Employment</h2>
<p>
    My professional life has so far been quite varied, on account of me not being totally sure where my interests lay.
    I'm relatively settled on a role now, that being DevOps. The details are below (in reverse order):
</p>

<h3>IBM UK and Ireland, December 2019-present, Cloud Software Developer:</h3>
<p>
    I am currently employed as part of the Cloud Pak Acceleration Team (CPAT) at IBM.
</p>
<p>Responsibilities and Goals:</p>
<ul>
    <li>Help customers make use of Cloud Paks that they have purchased.</li>
    <li>Increase adoption of the Openshift Container Platform throughout business.</li>
    <li>Help other members of the team make the most of the Openshift Container Platform, as part of the Platform
        chapter.</li>
</ul>

<h3>Carril Solutions Pvt Ltd, May 2019-October 2019, CTO/Project Lead:</h3>
<p>
    I spent most of my time at Carril Solutions breaking down an extensive project so that it could then be worked on by
    a development team - effectively taking on the product owner role. In the end, the project was abandoned, in part
    due to the realities of the scope of the project, which they had not realised until I explained it to them.
</p>
<p>Achievements and Responsibilities:</p>
<ul>
    <li>Championed Scrum within the organisation and introduced effective working practices.</li>
    <li>Broke down the extensive requirements for the project for which I was hired, in order to prepare it for a
        development team to work on (Product Owner).</li>
    <li>Held job interviews and made hiring decisions with the help of the CEO.</li>
    <li>Prototyped hardware for the project (with the help of my team).</li>
    <li>Advised sysadmin on how to properly implement HA services using Kubernetes/Docker.</li>
    <li>Managed local computing infrastructure within the office using Ansible.</li>
</ul>

<h3>Freelance, October 2018-April 2019, Web Developer:</h3>
<p>
    This was largely simple part-time work as a stepping-stone to a full-time role. I designed mostly static websites
    and ensured proper security measures were taken to ensure that common attacks were mitigated (mostly covering the
    OWASP Top Ten).
</p>

<h3>Vocal Planet Ltd, February 2016-May 2017, Junior Developer:</h3>
<p>
    I worked as part of a small scrum team in Vocal Planet, primarily focusing on the infrastructure and database
    requirements of the team. The key things I learned were the software development lifecycle, test driven development
    and continuous integration. I helped to develop a master data management solution which has yet to enter the
    market, and made extensive use of JDBC, SQLAlchemy, Django and Flask.
</p>
<p>Achievements and Responsibilities:</p>
<ul>
    <li>Worked on a SaaS MDM platform for the company.</li>
    <li>Organised the Scrum Team (3 developers including myself, not including the Product Owner).</li>
    <li>Managed the testing infrastructure, including automated testing and version control.</li>
    <li>Managed development environments (virtual machines using Vagrant, Docker, and later Openshift).</li>
    <li>Helped write secure software in Java to interact with SQL databases.</li>
    <li>Managed local instances of Teradata and PostGreSQL for testing purposes.</li>
</ul>

<h3>Imperial College London, Summer 2013, Placement at the Applied Modelling and Computation Group (AMCG):</h3>
<p>
    During this placement I learned about fluid dynamics and computational modelling.<br>
    I worked alongside computational physicists in the department and delivered a tool to convert templates from the
    Ecolab software package to their open source Fluidity program.<br>
    The project was done within a Ubuntu Linux environment, and written in Python with the Pyparsing module.
</p>

<h3>Xerox Ltd, Summer 2011, Assistant Scrum Master:</h3>
<p>
    I worked alongside some of their scrum teams, helping to manage the teams and also to develop tools to measure
    their metrics and performance. This was primarily done in Python and HTML5.
</p>
<p>Achievements and Responsibilities:</p>
<ul>
    <li>Helped the Scrum Master manage the teams.</li>
    <li>Developed some simple automation to simplify the processes in place already.</li>
    <li>Improved visibility of the existing metrics to help improve the performance of the Scrum team.</li>
</ul>

<h3>Maplin Electronics, November 2009-April 2011, Part Time Sales Advisor</h3>
<p>
    I expanded my knowledge of  electronics and computing and proved my problem solving skills. I developed good people
    skills while working at Maplin.
</p>
<p>Achievements and Responsibilities:</p>
<ul>
    <li>Worked on the shop floor helping to fix customers' problems.</li>
    <li>Dealt largely with computers, electronic components and other technical problems.</li>
    <li>Expanded to deal with more complex problems as I learned from my colleagues.</li>
</ul>

<h3>Xerox Ltd, Summer 2009, Placement</h3>
<p>
    I worked on a commercially sensitive printer technology which has not yet entered the market.<br>
    I learned research skills, communication skills and some programming. Despite coming across new mathematical
    concepts as part of this, I completed the project to a high standard.<br>
    As a result, a patent application was submitted for my work.
</p>

<h3>EADS Astrium, Summer 2008, Work Experience Placement</h3>
<p>
    I worked in the satellite department to analyse a specific project path for the department to pursue. I had to
    collect large amounts of information about current projects similar to the one they were considering. In order to
    understand all the information that was available, I discussed the problem with my colleagues and learned from them
    to improve my own understanding.<br>
    I effectively researched and presented this to my manager.
</p>

<h2>Education</h2>
<p>At a glance:</p>
<table width=800px class="pure_table_bordered">
    <tr class="table_header">
        <td width=150px>From</td>
        <td width=150px>Dates</td>
        <td width=500px>Qualification</td>
    </tr>
    <tr>
        <td>Red Hat</td>
        <td>September 2020</td>
        <td>Red Hat Certified Specialist in Openshift Application Development (Openshift 4.2)</td>
    </tr>
    <tr>
        <td><a href="https://www.theknowledgeacademy.com/">The Knowledge Academy</a></td>
        <td>September 2015</td>
        <td>Certified Scrum Master</td>
    </tr>
    <tr>
        <td><a href="http://www.imperial.ac.uk/">Imperial College London</a></td>
        <td>October 2011 - June 2015</td>
        <td>BSc Geophysics 2:2, with primarily 1st in maths, physics and computing.</td>
    </tr>
    <tr>
        <td><a href="http://www.ktemplar.herts.sch.uk/">Knights Templar School</a>, Baldock</td>
        <td>September 2009 - June 2011</td>
        <td>A levels - A* in Maths, A in Physics, A in Further Maths</td>
    </tr>
</table>
<p style="margin-top:1em">
    During mid-to-late 2020, the team of which I was a part within IBM were all encouraged to take Red Hat
    certifications. As part of that, a number of us were given 1 year learning subscriptions. Within this team, I was
    the first to pass one of the suggested certifications, earning my certification on September 9th 2020. My digital
    badge is shown below:
</p>
<img src="{{ url_for('static', filename='img/DO288.png') }}" alt="Digital Certification: 200-126-472" width="50%"></a>
<p>
    In September 2015 I did a 3-day course with <a href="https://www.theknowledgeacademy.com/">The Knowledge Academy</a>
    covering Scrum and Scrum Mastering. I passed the course and as a result am now a Certified Scrum Master.
</p>
<p>
    From 2011 to 2015 I studied Geophysics at the Royal School of Mines, <a href="http://www.imperial.ac.uk/">Imperial
    College London</a>, taking a year out for my health in the middle. I experienced a great deal during my time at
    Imperial and learned even more. I graduated with a 2:2 in the end, but I feel that this was in part due to the
    relative emphasis on geology in my course. I consistently did well in the maths, physics and computing modules and
    it was the others that caused me to struggle.<br>
    Imperial College is where I picked up my love of board games and where I learned a lot of organisational skills,
    helping to run two student societies during my time there.
</p>
<p>
    Before Imperial College, I did my A-levels at the <a href="http://www.ktemplar.herts.sch.uk/">Knights Templar
    School</a> in Baldock, Hertfordshire.
</p>

<h2>Other Details</h2>
<h3>Computing Experience</h3>
<ul>
    <li>I use Scrum in my own projects on various scales, and am a certified Scrum Master.</li>
    <li>I built my own PC at the age of 13.</li>
    <li>I am fluent in bash/ansible and have experience setting up and running servers.</li>
    <li>I use Linux extensively and am extremely confident with it.</li>
    <li>I am fluent in Python, Java and C++</li>
    <li>I am confident with C, Javascript, HTML and Matlab.</li>
    <li>I have used C#, UML, PICAXE BASIC and Wolfram Mathematica.</li>
    <li>Writing code clearly and documenting it properly are things I do automatically.</li>
    <li>I understand and embrace Scrum and Agile programming methods.</li>
    <li>I have experience developing APIs.</li>
    <li>I have experience using various public APIs including SteamSpy and TfL, working with both JSON and XML.</li>
    <li>I primarily work on backends, but am able to integrate into frontends and have build a few of my own using
    QT/C++, JavaFX/Java, PyGame/Python and Tkinter/Python.</li>
    <li>I have skill in data processing, including the use of filters to improve the signal to noise ratio in
    real-life data and large scale simulation.</li>
    <li>I have analysed large volumes of data – sorting and bucketing data appropriately, using tools to remove
    outliers.</li>
    <li>Currently maintain my own website (you're on it!)</li>
</ul>

<h3>Achievements</h3>
<dl>
    <dt>Ongoing: Game Development</dt>
    <dd>Following the Low-Rez Jam (see below), I've continued to develop video games as a hobby. I largely use Godot but
        have used other tools a few times when collaborating with others. I've taken part in a few different game jams
        over the years.</dd>
    <dt>2016: Low-Rez Jam</dt>
    <dd>Myself and a friend took part in a game jam and together we wrote a game limited to 64x64 pixels
        using python and pygame which is available online today (see Ghost, under Projects).</dd>
    <dt>2014: Marked for Death</dt>
    <dd>I began to write my own tabletop RPG, which was picked up by a publisher in December of that year –
        it was published in 2016.</dd>
    <dt>2012-2015:  Imperial College</dt>
    <dd>I helped to maintain several societies at Imperial College on a voluntary basis, and for two of
        these years this was a crucial role without which said societies would not have functioned.</dd>
    <dt>2011-2015: Gaming</dt>
    <dd>I created and ran two tabletop gaming groups.</dd>
    <dt>2009: Patent Application</dt>
    <dd>I wrote a proof-of-concept for which a patent application was submitted (see Xerox).</dd>
    <dt>2009: Young Enterprise Day</dt>
    <dd>I took part in and won Young Enterprise day working together with my form in Knights Templar.</dd>
    <dt>2007: Maths Challenge</dt>
    <dd>I represented my school in the Maths Challenge run at the University of Cambridge.</dd>
</dl>
{% endblock %}
